button:focus {
  outline: none;
}

.pic {
  background: url("/src/images/furniture.png")
    no-repeat center center/cover;
  width: 60%;
  height: 90vh;
}
.info {
  display: flex;
}

.content {
  width: 40%;
  text-align: center;
  padding: 50px;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ecf0f1;
}
.content h1 {
  font-size: 60px;
  line-height: 1em;
}
.content p {
  color: #17252a;
}
.head {
  max-width: 80%;
  line-height: 3em;
  margin: 0;
  text-align: left;
  border-top: 3px solid #8a3aaf;
  padding-top: 20px;
}
.content button {
  padding: 10px;
  color: #fff;
  background-color: #8a3aaf;
  border: none;
  border-radius:5px;
  cursor: pointer;
}
.content button:hover {
  color: #8a3aaf;
  background: transparent;
  border: 2px solid #3aafa9;
}

@media (max-width: 1119px) {
  .info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .content,
  .pic {
    width: 100%;
  }
}
@media (max-width:400px)
{
  .content h1{
    font-size:35px;
    line-height:3rem;
    margin-bottom:1rem;
  }
  .content p{
    line-height:2rem;
  }
}
